/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Colors */
a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

header {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
    padding-bottom: 10px;
    z-index: 1;
    background: rgba(242, 242, 242, 1);
  /* stylelint-disable-next-line declaration-colon-newline-after */
  background: -webkit-linear-gradient(
    top right,
    rgba(242, 242, 242, 0.95),
    rgba(251, 251, 251, 0.7)
  );
   /* stylelint-disable-next-line declaration-colon-newline-after */
   background: linear-gradient(
    to bottom left,
    rgba(242, 242, 242, 0.95),
    rgba(251, 251, 251, 0.7)
  );
  width: 100%;
  height: 120%;
  top: 0;
  right: 0;
  z-index: 0;
}

/*Mobile*/
body {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    color: #272A31;
    overflow-x: hidden;
    background-image: url("./images/background.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
    padding-bottom: 10px;
    z-index: 1;
}

.before-nav-content {
    display: none;
}

.logo a {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.fa-solid {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.introduction {
    margin: 8%;
}

.first-heading {
    font-size: 600;
    color: #ec5242;
}

.second-heading {
    margin-top: 3px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 56px;
    font-weight: 900;
    line-height: 1.1em;
    background-image: url(./images/textBack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.para-border, .para-border-about {
    font-family: var(--font-sm);
    padding: 20px 12px;
    margin-top: 20px;
    margin-bottom: 25px;
    border: 2px solid rgba(243, 241, 241, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);

    line-height: 1.3em;
    letter-spacing: 1.5px;
  }
  
  .venue h2 {
    font-weight: bold;
    font-size: 35px;
  }

  .burger {
      cursor: pointer;
      padding: 10%;
  }

  .line {
   display: block;
   width: 25px;
   height: 4px;
   margin: 0 0 5px 0;
   background-color: #272A31;
  }

  .main {
    align-items: center;
    background-color: #272A31;
    color: #fff;
    background-image:url(./images/backPattern.png);
    margin-top: 93px;
    padding: 50px 10px;
  }

  hr {
    background-color: #ec5242;
    height: 3px;
    width: 80px;
    border: none;
    margin: 30px;
  }

  .box {
    margin: 20px;
    gap: 20px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
}

.box-heading {
    color: #ec5242;
}

.main h2 {
    text-align: center;
}

.main hr {
    margin: 27px auto;
}

.join-button {
width: 70%;
height: 13vh;
background-color: #ec5242;
color: #fff;
font-size: 20px;
border: none;
margin: 10px 0 50px 0;
margin-left: 15%;
}

.hide-on-mobile {
    display: none;
}

.about {
    padding: 91px;
    background-color: #fff;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 49px 0px; 
    margin-bottom: -39px; 
}

.part2 {
    margin-left: -102px;
    margin-top: -78px;
padding-right: 0px;
padding-left: 47px;
padding-top: 52px;
margin: -94px;
}

.about-main-heding {
  margin-bottom: 78px;
}

.about-main-heding h2 {
    text-align: center;
    margin-top: 30px;
}

.about-main-heding hr {
    margin: 13px auto;
}

.nav-links {
    margin-left: 100px;
}

.speaker-image {
    width: 108px;
    height: 150px;
    z-index: 5;
    position: relative;
    top: -40px;
    bottom: 0;
    left: -39px;
}

.back-image {
    background-image: url(./images/squared-bg.jpg);
    background-repeat: no-repeat;
    position: absolute;
    height: 64px;
    margin-top: -58px;
    margin-left: -57px;
}

.small-head {
    font-size: 14px;
    font-weight: 500;
    color: #ec5242;
    margin-top: 15px;
}

.maincontainerdiv {
    display: flex;
    gap: 40px;
}

.see-button {
    width: 90%;
    height: 40px;
    margin: 23px;
    font-size: 20px;
    background-color: #fff;
    border: #d3d3d3 1px solid;
    margin-top: -10px;
}

.fa-solid {
  color: #ec5242;
}

/* FOOTER */
.foot {
    width: 100%;
    margin-top: 449px;
    padding: 40px 10px;
    background-color: #272A31;
  }
  
  .close-foot {
      width: 100%;
      height: calc(100% + 80px);
      padding: 34px 35px;
  }
  
  .foot-heading {
    color: #fff;
    opacity: 0.6;
    text-align: center;
  }
  
  .foot-heading h1 {
      margin-left: 13px;
  }
  
  .partners {
    margin-top: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-transform: uppercase;
  }
  
  #stitch-up {
  
    font-size: 0.8em;
  }
  
  #Air-up {
  font-size: 0.8em;
  font-weight: 500;
  }
  
  #Mozzi-up,
  #Mozzi-ups {
    font-weight: 400;
    font-size: 0.8em;
  }
  
  .close-foot {
    background-color: #fff;
    display: flex;
    gap: 30px;
    margin-left: 5%;
  }
  
  .logo h3 {
      font-size: 42px;
      color: #2d2322;
  }
  
  .rights h4 {
      color: #ec5242
  }
  
  .rights span {
    color: #ec5242
  }

/*Desktop*/
@media (min-width: 768px) {  

    body {
        font-family: "Lato", sans-serif;
        padding: 0;
        margin: 0;
        color: #272A31;
        overflow-x: hidden;
        background-image: url("./images/background.jpg");
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        height: 620px;
        padding-bottom: 10px;
        z-index: 1;
    }

    .index {
        position: relative;
        z-index: 2;
    }

    .before-nav {
        width: 100%;
        background-color: #272A31;
        margin-top: 0;
    }

    .before-nav-content {
        height: 40px;
        color: #D3D3D3;
        display: flex;
        justify-content: flex-end;
        padding: 0 10%;
        gap: 20px;
        align-items: center;
    }

    .before-nav-content ul {
        text-decoration: none;
    }

    nav {
        display: flex;
        justify-content: space-around;
        background-color: #fff;
        margin-top: -1px;
        height: 35px;
    }

    .logo a {
        font-size: 1.5rem;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }

    .nav-links {
        display: flex;
    }

    .desktop-navlinks {
        display: flex;
        gap: 60px;
        align-items: center;
    }

    .nav-links li {
        list-style: none;
        font-family: "Lato", sans-serif;
    }

    .nav-links a {
        text-decoration: none;
        color: #272A31;
    }

    #closeMenu {
        display: none;
    }

    .fa-solid {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }

    .nav-button {
        border: #ec5242 2px solid;
        background-color: #fff;
        color: #ec5242;
        padding: 5px;
        font-size: 18px;
    }

    .nav-button:hover {
        cursor: pointer;
        background-color: #ec5242;
        color: #fff;
    }

    .introduction {
        margin: 8%;
    }

    .first-heading {
        font-size: 600;
        color: #ec5242;
    }

    .second-heading {
        margin-top: 3px;
        margin-bottom: 10px;
        font-family: sans-serif;
        font-size: 56px;
        font-weight: 900;
        line-height: 1.1em;
        background-image: url(./images/textBack.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 10%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .para-border, .para-border-about {
     
        padding: 20px 12px;
        margin-top: 20px;
        margin-bottom: 25px;
        border: 2px solid rgba(243, 241, 241, 0.6);
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(60px);
        -webkit-backdrop-filter: blur(60px);
 
        line-height: 1.3em;
        letter-spacing: 1.5px;
      }
      
      .venue h2 {
        font-weight: bold;
        font-size: 35px;
      }

     

      .burger {
          display: none;
      }

      .line {
          display: none;
      }

      .main {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #272A31;
          color: #fff;
          background-image:url(./images/backPattern.png);
          margin-top: -2px;
          padding: 50px 10px;
      }

      hr {
        background-color: #ec5242;
        height: 3px;
        width: 80px;
        border: none;
      }

      .main-grids {
            display: flex;
            gap: 10px;
      }

      .box {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 5px;
          max-width: 200px;
          height: 15%;
          border: none;
          padding: 20px;
          margin: 2px;
      }

      .join-button {
          display: none;
      }

      .hide-on-mobile {
        display: flex;
        color: #fff;
        font-size: 17px;
        text-decoration: underline;
        text-transform: uppercase;
        margin-top: 10px;
        margin-top: 45px;
      }

      .about-main-heding {
        margin-bottom: 78px;
      }

      .about-main-heding h2 {
          text-align: center;
          margin-top: 30px;
      }

      .about-main-heding hr {
        margin: 13px auto;
    }

      .about {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          background-color: #fff;
          padding: 104px;
          gap: 106px;
          height: 83vh;
      }

      .speaker-image {
        width: 108px;
        height: 150px;
        z-index: 5;
        position: relative;
        top: -40px;
        bottom: 0;
        left: -39px;
    }

    .back-image {
        background-image: url(./images/squared-bg.jpg);
        background-repeat: no-repeat;
        position: absolute;
        height: 64px;
        margin-top: -58px;
        margin-left: -57px;
    }

    .small-head {
        font-size: 14px;
        font-weight: 500;
        color: #ec5242;
        margin-top: 15px;
    }

    .maincontainerdiv {
        display: flex;
        gap: 40px;
    }

    .part2 {
        margin-left: -102px;
        padding: 42px;
        margin-top: -78px;
    }

    .see-button {
        display: none;
    }

/* FOOTER */
.foot {
  width: 100%;
  height: calc(100% + 80px);
  padding: 40px 10px;
  background-color: #272A31;
  margin-top: 81px;
}

.foot-heading {
  color: #fff;
  opacity: 0.6;
  text-align: center;
}

.foot-heading h1 {
    margin-left: 13px;
}

.partners {
  margin-top: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-transform: uppercase;
}

#stitch-up {

  font-size: 0.8em;
}

#Air-up {
font-size: 0.8em;
font-weight: 500;
}

#Mozzi-up,
#Mozzi-ups {
  font-weight: 400;
  font-size: 0.8em;
}

.close-foot {
  background-color: #fff;
  display: flex;
  gap: 30px;
  margin-left: 488px;
}

.logo h3 {
    font-size: 42px;
    color: #ec5242;
}

.rights h4 {
    color: #ec5242
}

.rights span {
  color: #ec5242
}

.sm-line {
    background-color: #ec5242;
    height: 3px;
    width: 70px;
    margin-left: 727px;
    margin-top: 16px;
}

.article-container {
    margin-bottom: 170px;
}

}